<web-app>
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>servletcontroller.clientservice.CreateClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/html/client/insert</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>insertEmployee</servlet-name>
        <servlet-class>servletcontroller.employeeservice.CreateEmployee</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>insertEmployee</servlet-name>
        <url-pattern>/html/employee/insert-employee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>servletcontroller.clientservice.UpdateClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/html/client/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateEmployee</servlet-name>
        <servlet-class>servletcontroller.employeeservice.UpdateEmployee</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updateEmployee</servlet-name>
        <url-pattern>/html/employee/update-employee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updatePage</servlet-name>
        <servlet-class>servletcontroller.clientservice.UpdateClientPage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updatePage</servlet-name>
        <url-pattern>/html/client/update-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateEmployeePage</servlet-name>
        <servlet-class>servletcontroller.employeeservice.UpdateEmployeePage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updateEmployeePage</servlet-name>
        <url-pattern>/html/employee/update-employee-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>retrieve</servlet-name>
        <servlet-class>servletcontroller.clientservice.RetrieveClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>retrieve</servlet-name>
        <url-pattern>/html/client/retrieve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>retrieveEmployee</servlet-name>
        <servlet-class>servletcontroller.employeeservice.RetrieveEmployee</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>retrieveEmployee</servlet-name>
        <url-pattern>/html/employee/retrieve-employee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>servletcontroller.clientservice.DeleteClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/html/client/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteEmployee</servlet-name>
        <servlet-class>servletcontroller.employeeservice.DeleteEmployee</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteEmployee</servlet-name>
        <url-pattern>/html/employee/delete-employee</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>retrieveAll</servlet-name>
        <servlet-class>servletcontroller.clientservice.RetrieveAllClient</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>retrieveAll</servlet-name>
        <url-pattern>/html/client/retrieveAll</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>retrieveAllEmployee</servlet-name>
        <servlet-class>servletcontroller.employeeservice.RetrieveAllEmployee</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>retrieveAllEmployee</servlet-name>
        <url-pattern>/html/employee/retrieve-all-employee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mappingDatabase</servlet-name>
        <servlet-class>servletcontroller.mapping.MappingDatabase</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mappingDatabase</servlet-name>
        <url-pattern>/html/employee/mapping-database</url-pattern>
    </servlet-mapping>

</web-app>
